body, html, section, div, h1, h2, h3, h4, h5, h6, a, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

@page{
  size: auto;
  margin: 0mm;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 14pt;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*-- SECTION SETTINGS --*/

section {
  width: 552pt;
  margin: auto;
  margin-top: 10pt;
}

.page-box{
  margin: auto;
  border: 2px solid #999;
  width: 612pt;
}

/*-- HEADER --*/

.basic-info {
  width: 552pt;
  margin: auto;
  margin-top: 20pt;
  border-bottom: 1px solid #aaa;
}

h1.name {
  display: block;
  float: left;
  font-size: 45pt;
  padding-bottom: 1pt;
}

.basic-info > .contact {
  float: right;
  text-align: right;
}

.headline {
  width: 550pt;
  margin: auto;
  margin-top: 8pt;
}

h3 {
  width: 66pt;
  margin-right: 20pt;
  float: left;
  text-align: left;
  font-weight: 700;
  font-size: 16pt;
}

/*-- NESTED HEADERS --*/


header.group > h4 {
  font-weight: 500;
  font-size: 14pt;
  float: left;
}

header.group > h5 {
  font-weight: 500;
  font-size: 12pt;
  margin-top: 2pt;
  float: right;
}

header.group > h6 {
  font-size: 10pt;
  font-weight: 500;
  float: left;
  padding-top: 4pt;
  padding-left: 4pt;
}

/*-- HEADLINE --*/

.headline {
  border-bottom: 1pt solid #999;
  padding-top: 6pt;
  padding-bottom: 12pt;
}

.headline > p {
  font-weight: 500;
}


/*-- EDUCATION SECTION --*/

.education {
  border-bottom: 1pt solid #999;
}

.education > ul {
  display: block;
  float: left;
}

li.institution > header{
  border-bottom: 1px solid #aaa;
  margin-bottom: 3pt;
}

li.institution > p {
  margin-top: 2pt;
  margin-left: 12pt;
  font-weight: 500;
}

li.institution{
  display: block;
  width: 460pt;
  padding-bottom: 12pt;
}

.institution > h4 {
  font-size: 11pt;
  padding-left: 12pt;
}

.education-list >li:before {
  font-size: 22pt;
  content:"-";
  position: relative;
  left: -6pt;
}

.education-list > li {
  text-indent: 6pt;
  font-size: 11pt;
  font-weight: 500;
  line-height: 13pt;
}

/* -- SKILLS AND TECH --*/

.skills-tech {
  border-bottom: 1pt solid #999;
}

.list-wrapper > ul{
  display: block;
  float: left;
  border-right: 1px solid #999;
}

.list-wrapper > ul > li {
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  text-align: center;
  border-bottom: 1px solid #999;
  font-size: 13pt;
  font-weight: 500;
}

.list-wrapper > ul li:last-child{
  border: none;
}

.list-wrapper > ul:last-of-type{
  border: none;
}

#practice-techniques {
  margin-top: 5pt;
  margin-left: 85pt;
  margin-bottom: 5pt;
  font-size: 12pt;
  font-weight: 500;
}


/*-- PROJECTS --*/

.projects {
  border-bottom: 1pt solid #999;
  padding-bottom: 3pt;
}

.projects > p {
  margin-left: 86pt;
  font-weight: 500;
  font-size: 11pt;
  margin-bottom: 3pt;
}

.projects > p > strong {
  font-size: 14pt;
}

.selected-experience {

}

.projects > ul {
  display: block;
  float: left;
}

li.project > header{
  border-bottom: 1px solid #aaa;
  margin-bottom: 3pt;
}

li.project{
  display: block;
  width: 460pt;
  padding-bottom: 12pt;
}

.project > header > h4 {
  font-size: 14pt;
  font-weight: 500;
}

.project > header > h4 > em {
  font-size: 12pt;
  font-weight: 100;
}

.project > header > h6 {
  padding-top: 3pt;
}

.properties-list >li:before {
  font-size: 22pt;
  content:"-";
  position: relative;
  left: -6pt;
}

.properties-list > li {
  text-indent: 6pt;
  font-size: 11pt;
  font-weight: 500;
  line-height: 11pt;
}

/*-- Selected Employment --*/


.selected-experience {

}

.selected-experience > ul {
  display: block;
  float: left;
}

li.experience > header{
  border-bottom: 1px solid #aaa;
  margin-bottom: 3pt;
}

li.experience{
  display: block;
  width: 460pt;
  padding-bottom: 12pt;
}

.experience > header > h4 {
  font-size: 14pt;
  font-weight: 500;
}

.experience > header > h4 > em {
  font-size: 12pt;
  font-weight: 100;
}

.experience > header > h6 {
  padding-top: 3pt;
}

.experience-list >li:before {
  font-size: 22pt;
  content:"-";
  position: relative;
  left: -6pt;
}

.experience-list > li {
  text-indent: 6pt;
  font-size: 11pt;
  font-weight: 500;
  line-height: 11pt;
}